* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 20px;
}

body {
  margin: 0 auto;
  max-width: 1200px;
}

h1,
h1 span {
  font-size: 40px;
  font-weight: 800;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  color: #6d4701;
}

h3 {
  position: relative;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.container {
  position: relative;
  display: flex;
}

.header {
  position: relative;
  height: 40px;
}

.header__container {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.header__container_left {
  position: relative;
  width: 38%;
  color: #a0b1c2;
  overflow: hidden;
}

.header__container_right {
  position: relative;
  width: 62%;
  color: #acfa70;
  overflow: hidden;
}

.header__cv {
  position: absolute;
  font-weight: 800;
  font-size: 40px;
}

.right {
  right: -240px;
  animation: cv 5s linear infinite;
}

.left {
  right: -290px;
  animation: cv 5s linear infinite;
  animation-delay: 2.4s;
}

@keyframes cv {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-1430px);
  }
}

.personal {
  width: 38%;
  padding: 20px;
  background-color: #a0b1c2;
}

.personal__name {
  font-size: 22px;
  text-align: center;
}

.personal__name_third {
  color: #ffa500;
}

.personal__foto {
  margin: 10px auto;
  max-width: 250px;
}

.personal__foto img {
  width: 100%;
  border: 1px solid #ffa500;
}

.figcaption {
  margin-top: 20px;
  margin-left: -15px;
  font-size: 28px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  width: 280px;
}

.figcaption span {
  font-size: 28px;
  font-weight: 700;
  color: #ffa500;
}

.personal__contacts_list {
  list-style: none;
}

.center {
  margin-top: 30px;
  text-align: center;
}

.personal__contacts_list li {
  margin: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px #501e01;
  cursor: pointer;
}

.personal__contacts_list li a {
  display: flex;
  font-size: 20px;
  font-weight: 600;
  line-height: 180%;
  text-decoration: none;
  color: #6d4701;
  transition: 0.3s;
}

.link__ico {
  width: 40px;
  height: 40px;
}

.link__ico img {
  width: 100%;
}

.link__text {
  flex-grow: 1;
  font-weight: 700;
  text-align: center;
}

.personal__contacts_list li:hover>a {
  color: #d18801;
}

.personal__contacts_list li:active {
  box-shadow: 1px 1px 1px #501e01;
  transform: translate(2px, 2px);
}

.personal__info {
  margin-top: 70px;
}

.personal__info_text {
  padding: 5px 20px;
  text-align: justify;
  line-height: 150%;
  text-indent: 20px;
}

.personal__info_text span {
  font-weight: 700;
}

.personal__info_text::first-letter {
  font-size: 25px;
  font-weight: 600;
  color: #6d4701;
}

.skills {
  position: relative;
  width: 62%;
  background-color: #e2f8d1;
}

.skills__wrap {
  width: 85%;
  margin-left: 5%;
}

.skills__title {
  margin-top: 20px;
}

.underline {
  position: relative;
  margin-top: 20px;
}

.underline::after {
  content: '';
  position: absolute;
  left: 0;
  top: 35px;
  width: 100%;
  height: 1px;
  border-top: 1px solid #000000;
}

.skills__items {
  margin: 10px 38px;
  list-style: none;
}

.skills__items li {
  font-size: 25px;
  position: relative;
}

.skills__items li::before {
  content: '';
  position: absolute;
  left: -40px;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/icons7.png);
  background-size: contain;
}

.skills__switch_body {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  margin: 10px auto;
  width: 70%;
}

@media only screen and (max-width: 800px) {
  .skills__switch_body {
    width: 90%;
  }
}

@media only screen and (max-width: 600px) {
  .skills__switch_body {
    width: 100%;
  }
}

.skills__switch_body p {
  font-weight: 800;
  color: #6d4701;
}

@media only screen and (max-width: 350px) {
  .skills__switch_body p {
    font-size: 15px;
    font-weight: 400;
  }
}

.checkbox {
  position: relative;
  display: inline-block;
  padding-left: 40px;
  cursor: pointer;
}

input {
  display: none;
}

.checkbox span:before,
.checkbox span:after {
  content: '';
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  transition: 0.3s;
}

.checkbox span:before {
  left: 0;
  margin-top: -12px;
  height: 20px;
  width: 45px;
  border-radius: 12px;
  background: #bbbbbb;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}

.checkbox span:after {
  left: 1px;
  margin-top: -11px;
  height: 17px;
  width: 17px;
  border-radius: 50%;
  background: #000000;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}

.checkbox input:checked+span:before {
  background-color: #ffcf26;
}

.checkbox input:checked+span:after {
  left: 27px;
}

@keyframes HTML-up {
  0% {
    width: 50%;
  }

  100% {
    width: 95%;
  }
}

@keyframes JS-up {
  0% {
    width: 10%;
  }

  100% {
    width: 50%;
  }
}

.skills__languages {
  padding-left: 30px;
  padding-right: 20px;
}

@media only screen and (max-width: 600px) {
  .skills__languages {
    width: 100%;
  }
}

.skills__all {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}

.skills__rate {
  position: relative;
  width: 50%;
  height: 10px;
  border: 1px solid #6d4701;
  border-radius: 5px;
  background-color: #ffffff;
}

.skills__rate::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
}

._HTML::before {
  width: 50%;
  background-color: #FF4B13;
}

._CSS::before {
  width: 50%;
  background-color: #2270F5;
}

._JS::before {
  width: 10%;
  background-color: #FFBD00;
}

.skills__text {
  width: 30%;
  font-size: 23px;
  color: #6d4701;
}

.skills__levels {
  height: 27px;
  overflow: hidden;
}

.skills__levels_up {
  animation: levels-up 1s linear forwards;
}

@keyframes levels-up {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-23px);
  }
}

.text {
  text-indent: 20px;
  line-height: 150%;
}

.text::first-letter {
  font-size: 20px;
  font-weight: 600;
  color: #6d4701;
}

.code_example {
  position: relative;
}

.example {
  margin-top: 10px;
  padding: 10px;
  cursor: pointer;
}

.my_code {
  position: absolute;
  top: 300px;
  z-index: 10;
  background-color: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
}

.example:hover+.my_code {
  display: block;
  height: auto;
  transform: translateY(-185px);
}

.myprojects,
.my_education {
  list-style: none;
  margin-left: 40px;
}


.myprojects li,
.my_education li {
  margin-top: 12px;
  position: relative;
}

.education p {
  position: relative;
  margin-left: 40px;
}

.myprojects li::before,
.my_education li::before,
.education p::before {
  content: '';
  position: absolute;
  left: -40px;
  top: -5px;
  display: block;
  width: 30px;
  height: 30px;
  background-image: url(../img/graduation-hat.png);
  background-size: contain;
}

.myprojects li::before {
  background-image: url(../img/icons8.png);
}

.myprojects a,
.my_education a,
.example {
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  text-decoration: none;
  background-color: #eeeeee;
}

.education h3 {
  margin-top: 10px;
}

.volga,
.courses,
.project_name {
  font-weight: 600;
  text-decoration: none;
  color: #6d4701;
}

.footer__up {
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: rgba(90, 89, 89, 0.9);
}

.footer__contacts_list {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  list-style: none;
}

.footer__contacts_list li .link__ico {
  border-radius: 10px;
  background-color: rgba(220, 255, 164, 0.5);
  transition: .3s;
}

.footer__contacts_list li .link__ico:hover {
  background-color: rgba(173, 247, 54, 0.9);
}

.footer__down {
  padding-bottom: 20px;
  padding-top: 15px;
  background-color: rgba(182, 121, 8, 0.7);
}

.rsschool {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.footer__down li .link__ico {
  transition: 0.3s;
}

.footer__down li .link__ico:hover {
  transform: scale(1.1);
}

.rsschool__github {
  padding-left: 0.6%;
}

.rsschool__year {
  padding-left: 1.3%;
  font-size: 20px;
}

.rs_logo {
  width: 60px;
  padding-top: 10px;
}

@media only screen and (max-width: 550px) {
  .container {
    flex-direction: column;
  }

  .header__container_left,
  .personal,
  .skills {
    width: 100%;
  }

  .header__container_right {
    width: 0;
  }
}